body
    {
        background-color: #333333;
    }
table 
{
  text-align: center;
  vertical-align: middle;
  font-family: Arial;
  margin-left: auto;
  margin-right: auto;
}
td 
{
    background-color: inherit;
    color: inherit;
    font-size: 1.9vw;
    font-weight: bold;
    page-break-inside: avoid;
    width: 5.5vw;
    padding: 0.1vw;
  }
  th 
  {
    color: black;
    background-color: silver;
    font-size: 1.3vw;
    line-height: 2vw;
    height: 2vw;
  }
.chalcogen 
{
  background-color: #357ed7;
}
.inertgase 
{
  background-color: #b346d7;
}
.alkali 
{
  background-color: #ee4c67;
}
.earthmetal 
{
  background-color: #fe941a;
}
.metalloid 
{
  background-color: #63c6df;
}
.posttrans 
{
  background-color: #adcc3c;
}
.halogen 
{
  background-color: #bd6cad;
}
.transmetal 
{
  background-color: #fcca01;
}
.lanthanoid 
{
  background-color: #FFBFFF;
}
.actinoid 
{
  background-color: #ef99cc;
}
.m {
    text-align: right;
    font-weight: normal;
    font-size: 0.9vw;
    margin: 0.2vw 0.2vw 0.4vw 0.2vw;
  }
.num {
    text-align: left;
    font-weight: normal;
    font-size: 0.8vw;
    margin: 0.4vw 0.2vw 0.2vw 0.2vw;
  }
  .nav {
    white-space: nowrap;
    font-weight: normal;
    font-size: 0.9vw;
    margin: 0.2vw 0.2vw 0.2vw 0.2vw;
  }
  table img {
    width: 13vw;
  }